
header{
    border: 1px red solid;
}

/*bloc 1 logo et nav */
.top_header{
    height: 70px;
    border: 1px red solid;

}
.top_header a{
    width: 100%;
    font-size: 0.8em;

}
.logo_reservia{
    flex: 1.5;

}
.logo_reservia img{
    width: 50%;

}
.nh{
    flex: 1.2;

}
.na{
    flex: 1.2;

}
.ni{
    flex: 1.2;

}
.bloc_vide{
    flex: 4;

}

.h:hover{
    border-top: 2px#0065FC solid;
}

.a:hover{
    border-top: 2px black solid;

}      

.i:hover{
    border-top: 2px#0065FC solid;
}/*fin du bloc 1*/


/*bloc 2 annonce*/
.annonce{
    border: 1px rgb(201, 38, 38) solid;

}.annonce h1{
    margin-top: 10px;
    font-size: 1.2em;

}
.annonce p{
    font-size: 0.9em;

}
/*fin du bloc 2*/