
body{
    color: black(0, 0, 0);
}


header{/*en-tête*/
    height: auto;
    width: auto;
    padding: 0px;
    flex-wrap: wrap;

}

.top_header{/*logo et nav bloc 1*/
    width: auto;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

}
.top_header a{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    border-bottom: 5px #f2f2f2 solid;

}
.logo_reservia:nth-child(1){
    width: 50%;
    height: 90px;
    justify-content: left;
    flex: none;
    order: 1;

}
.logo_reservia img{
    height: 60%;
    width: 60%;
    margin-left: 20px;
}
.nh:nth-child(3){
    width: 50%;
    height: 70px;
    flex: none;
    order: 4;
    margin-bottom: 40px;

}
.h:hover{
    border-top: none;
    border-bottom: 5px#0065FC solid;

}
.na:nth-child(4){
    width: 50%;
    height:70px;
    flex: none;
    order: 5;
    margin-bottom: 40px;

}
.a:hover{
    border-top: none;
    border-bottom: 5px black solid;

}  
.ni:nth-child(5){
    width: 30%;
    height: 90px;
    flex: none;
    order: 3;

}
.ni a{
    font-weight: bold;
    border: transparent;
}
.i:hover{
    border-top: none;
}
.i{
    margin-right: 20px;
}
.bloc_vide:nth-child(2){
    height: 90px;
    width: 20%;
    flex:none;
    order: 2;

}

.annonce{/*bloc 2 annonce*/
    width: auto;
    height: auto;
    margin: 40px 0px 40px 0px;
    padding-left: 20px;
    padding-right: 20px;

}
.annonce p{
    width: auto;
    font-size: 1em;
    margin-top: 20px;
}
.annonce h1{
    width: 90%;
    font-weight: bold;
    font-size: 1.3em;
    
}



.search{/*bloc 3 barre de recherche*/
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
}
.barre_de_recherche{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-left: 17px;
}

.barre_de_recherche label{
    height: 100%;
    width: 15%;
}
.logo_pos{
    font-size: 1.2em;
}
.formulaire{
    width: 70%;
}
.formulaire input{
    font-size: 1.1em;
}
.formulaire input::placeholder{
    font-size: 1.1em;
}
.b_recherche{
    width: 15%;
    font-size: 1em;
    font-weight: bold;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    right: 17px;
}

.rechercher{
    display: none;
}
.b_recherche i{
    display: block;
    font-size: 1.5em;
}


.filtres{/*bloc 4 les filtres*/
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.fi{
    font-size: 1.1em;
    font-weight: bold;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
}

.critères{
    width: auto;
    height: auto;
    padding-left: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.circle{
    height: 56px;
    width: 54px;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 30px 30px;
    background-color: #DEEBFF;
    position: relative;
    right: 2px;
    
}
.crit p{
    font-size: 1em;
}
.f{/*contour global de chaques critères*/
    height: 54px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0px 10px 10px 0px;
    border: 2px #dfdfdf solid;
    border-radius: 30px 30px 30px 30px;

}

.info{/*bloc 5 info*/
    height: auto;
    width: auto;
    margin-top: 20px;
    margin-bottom: 35px;
    padding-left: 20px;
}
.info i{
    width: 30px;
    height: 24px;
    font-size: 0.8em;
    color:#0065FC ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #f2f2f2 solid;
    border-radius: 15px 15px 15px 15px;
    margin-right: 10px;
    position: relative;
    bottom: 10px;
}
.info p{
    height: auto;
    width: auto;
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-size: 1.1em;
    margin: 0px 0px 0px 10px;
}

.top_s{/*section*/
    width: auto; 
    height: auto;
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.populaires{/*bloc aside populaires*/
    width: 100%;
    height: auto;
    border-radius: 0px;
    margin: 0px;
    padding: 0px 0px;
    border-radius: 0px 0px 0px 0px;
}
.top_aside{/*titre aside*/
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    
}
.t_pop h1{
    height: auto;
    width: auto;
    font-size: 1.4em;
    margin-top: 0px;
    margin-left: 20px;
}
.arrow{
    height: auto;
    width: auto;
    margin-top:0px;
    font-size: 1.6em;
    margin-right: 20px;
}

.p_aside{/*photos aside*/
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 20px 35px 20px;
   
}
.cadre_aside{
    height: 140px;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 10px;
}
.photo_aside_large{
    display: none;
}
.photo_aside_small{
    display: block;
    width: 40%;
    height: 100%;
    overflow: hidden;
}
.photo_aside_small img{
    height: 100%;
    width: 100%;
  
}
.note_p2{
    height: 100%;
    width: 60%;
    background-color: white;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}
.note_p2 h2{
    height: auto;
    width: 80%;
    font-size: 1em;
    margin-left: 20px;
    margin-top: 15px;
}
.note_p2 p{
    height: auto;
    width: auto;
    margin-left: 20px;
    font-size: 0.9em;
    margin-bottom: 30px;
}
.note_p2 i{
    font-size: 0.8em;
    margin-right: 1px;

}
.etoiles_aside{
    margin-left: 20px;
    margin-bottom: 10px;
}


.heb{/*partie hébergements*/
    width: auto;
    height: auto;
    margin-right: 0px;
    background-color: white;
    justify-content: center;
    padding: 35px 20px ;
    border-radius: 0px 0px 0px 0px;
}
.t_heb{/*titre*/
    height: auto;
    padding: 0px;
    margin-bottom: 20px;
}
.t_heb h1{
    font-size: 1.4em;
    margin-top: 0px;
    margin-bottom: 0px;
}



.sleep{/*photos d'hébergements*/
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-bottom: 20px;
}
.cadre_p1{
    width: 97%;
    height: 180px;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 15px; 
    margin-top: 0px;
}
.note_p1{
    width: auto;
    padding-left: 10px;
}
.note_p1 h2{
    width: auto;
    height: auto;
    font-size: 1em;
    margin-bottom: 0px;
    margin-top: 10px;
}
.note_p1 p{
    font-size: 0.9em;
    margin-top: 0px;
}
.photo_p1_large{
    display: none;
}
.photo_p1_small{
    display:block;
    height: 60%;
    width: 100%;
    overflow: hidden;
}
.photo_p1_small img{
    width: 100%;
    height: 100%;
}
.plus{
    height: auto;
    width: auto;
    padding-left: 0px;
}
.plus h2{
    
    font-size: 1.2em;
    margin-bottom: 0px;
}






.bot_section{/* bloc section activités*/
    width: auto;
    height: auto;
    margin: 20px 0px 0px 0px;
    padding: 0px 20px 0px 20px ;

}
#activités{
    font-size: 1.4em;
    padding-left: 0px;
    margin-bottom: 30px;
}
.photos_bs{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.c_a{
    width: auto;
    height: 180px;
    margin-top: 0;
    margin-bottom: 20px;
    border-radius: 20px 20px 20px 20px;
}
.c_a2{
    width: 100%;
    height: auto;
}
.g_p_large{
    display: none;
}
.g_p_small{
    display: block;
    width:auto;
    height: 75%;
    overflow: hidden;
}
.g_p_small img{
    width: 100%;
    height: 100%;
}
.t_a{
    width: 100%;
    height: 25%;
    padding-left: 0px;
}
.t_a h4{
    font-size: 1em;
    padding-left: 20px;
}

.p_p_large{
    display: none;
}
.p_p_small{
    display: block;
    height: 75%;
    width: auto;
    overflow: hidden;
}
.p_p_small img{
    height: 100%;
    width: 100%;
}
.p_fort_large{
    display: none;
}
.p_fort_small{
    display: block;
    height: 75%;
    overflow: hidden;
}

.p_fort_small img{
    height: 100%;
    width: 100%;
}
.p_frioul_large{
    display: none;
}
.p_frioul_small{
    display: block;
    height: 75%;
    overflow: hidden;
    
}
.p_frioul_small img{
    height: 100%;
    width: 100%;
}
#bot_r{
    width: auto;
    height: 180px;
    margin-top: 0%;
    margin-bottom: 20px;
    border-radius: 20px 20px 20px 20px;
}


footer{/*Pied de page*/
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    padding: 0px 20px 50px 20px;
}
footer div{
    width: auto;
    height: auto;
    font-size: 1em;
    padding-left: 0px;
}
footer ul{
    margin-bottom: 0px;
}
footer h4{
    margin-top: 50px;

}
footer li{
    margin-bottom: 0px;
}
.bv1{
    display: none;
}
.bv2{
    display: none;
}
.bv3{
    display: none;
}
