.bloc_page{
    width: 100%;   
}
body{
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
    font-family:"Raleway","Raleway Black",Arial,"Arial Black","Comic Sans MS","Courier New","Georgia","Impact","Times New Roman","Trebuchet MS","Verdana";
}
header{
    width: 96%;
    padding-left:2%;
    margin-right: 2%;
}
.top_header{/*logo et nav bloc 1*/
    height: 100px;
    display: flex;
    align-items: center;
    padding-top: 0px;
}
.logo_reservia{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 2;
}
.logo_reservia img{
    width: 150px;
}
.nh{
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    flex: 1;
}
.na{
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    flex: 1;
}
.ni{
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    flex: 1;
}
.bloc_vide{
    height: 100%;
    flex: 5;
}
.top_header a{
    width: 100%;
    font-size: 1.2em;
    text-decoration: none;
}
.h{
    height: 100%;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#0065FC ;
}
.h:hover{
    border-top: 2px#0065FC solid;
}
.a{
    height: 100%;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.a:hover{
    border-top: 2px black solid;

}      
.i{
    height: 100%;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#0065FC ;
    font-weight: bold;
}
.i:hover{
    border-top: 2px#0065FC solid;
}/*fin du bloc 1*/
.annonce{/*bloc 2 annonce*/
    width: 98%;
}
.annonce p{
    font-size: 1.1em;
    margin-top: 0px;
}
.annonce h1{
    font-size: 2em;
    margin-bottom: 0px;
}/*fin du bloc 2*/
.barre_de_recherche{/*bloc 3 barre de recherche*/
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.barre_de_recherche label{
    height: 100%;
    width: 50px;
}
.logo_pos{
    width: 50px;
    height: 100%;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
}
.formulaire{
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulaire input{
    height: 50px;
    width: 200px;
    border: 1px #f2f2f2 solid;
}
.formulaire input::placeholder{
    color: black;
    font-size: 1.3em;
    font-weight: bold;
    padding-left: 10px;
}
.b_recherche{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
}
.b_recherche a{
    text-decoration: none;
    color: white;
}
.b_recherche a:hover{
    color: black;
}/*fin du bloc 3*/

.filtres{/*bloc 4 les filtres*/
    width: 99%;
    height: 60px;
    margin-top: 20px;
    display: flex;
    justify-content:start;
    align-items: center;
}
.fi{
    width: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.critères{
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center; 
    padding-left: 20px;
}
.critères a{
    font-size: 1.1em;
    text-decoration: none;
    color: black;
}
.critères a:hover{
    font-size: 1.2em;
}
#circle{
    height: 66px;
    width: 66px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33px 33px 33px 33px;
    background-color: #DEEBFF;
    position: relative;
    right:4px;

    ;   
}
#circle i{
    color:#0065FC;
}
#crit p{
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 15px;
}

#f{/*contour global de chaques critères*/
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 3px #f2f2f2 solid;
    padding: 0px 20px 0px 0px;
    margin-left: 30px;
    border-radius: 30px 30px 30px 30px;
}/*fin du bloc 4*/
.info{/*bloc 5 info*/
    height: 40px;
    margin-top: 10px;
}
.info i{
    width: 30px;
    height: 30px;
    color:#0065FC ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #f2f2f2 solid;
    border-radius: 25px 25px 25px 25px;
    margin-right: 20px;
}
.info p{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.3em;
    margin-top: 0px;
    margin-bottom: 0px;
}/*fin  du bloc 5*/
.top_s{/*section*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    height: 750px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
}
.heb{/*partie hébergements*/
    width: 70%;
    height: 750px;
    background-color: #f2f2f2;
    border-radius: 25px 25px 25px 25px;
    margin-right: 30px;
}
.t_heb{
    display: flex;
    align-items: center;
    padding-left: 35px;
    height: 10%;
}
.t_heb h1{
    font-size: 1.6em;
    margin-top: 60px;
}
.sleep{/*lieu d'hébergements*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 80%;
}
.cadre_p1{
    width: 27%;
    height:44%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 1px rgb(200,200,200);
    border: 5px white solid;
    text-decoration: none;
    color: black;
}
.photo_p1{
    height: 60%;
    width: 100%;
    overflow: hidden;
}
.photo_p1 img{
width: 100%;
height: 100%;
}
.note_p1{
    height: 40%;
    width: 100%;
    background-color: white;
    padding-left: 15px;
}
.note_p1 i{
    font-size: 1.1em;
    color: #f2f2f2;
    margin-top: 5px;
}
#b_star{
    color: #0065FC;
}
.note_p1 h2{
 margin-top: 0px;
 margin-bottom: 5px;
 
}
.ec{
    font-weight: bold;
}
.€{
    font-weight: bold;
    font-size: 1.2em;
}
.plus{
    display: flex;
    align-items: center;
    height: 9%;
    padding-left: 50px;
}
.plus a{
    text-decoration: none;
    color: black;
}
.plus a:hover{
    text-decoration: underline;
}/*fin bloc hébergements*/
.populaires{
    width: 27%;
    height: 750px;
    background-color: #f2f2f2;
    border-radius: 25px 25px 25px 25px;
    padding-left: 30px;
    padding-right:30px;
}
.top_aside{/*bloc aside populaires*/
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.t_pop h1{
    font-size: 1.6em;
    margin-top: 60px;
}
.arrow{
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
    font-size: 1.6em;
}
.p_aside{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.p_aside a{
    text-decoration:none;
    color: black;
}
.cadre_aside{
    height: 25%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 1px rgb(200,200,200);
    border: 5px white solid;
    overflow: hidden;
}
.photo_aside{
    width: 40%;
    height: 100%;
    overflow: hidden;
}
.photo_aside img{
    height: 100%;
    width: 100%;
}
.note_p2{
    height: 100%;
    width: 60%;
    background-color: white;
    padding-left: 15px;
}
.note_p2 i{
    font-size: 1.1em;
    color: #f2f2f2;
    margin-top: 5px;
}/*fin bloc aside populaire*/
.bot_section{/* bloc section activités*/
    width: 96%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 60px;
}
.t_bot_section{
    width: 100%;
    height: 10%;
}
.photos_bs{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}
.photos_bs a{
    text-decoration: none;
    color: black;
}
.c_a{
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 1px rgb(200,200,200);
    overflow: hidden;
}
.c_a2{
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
}
.g_p{
    width: 100%;
    height: 90%;
    overflow: hidden;
}
.g_p img{
    width: 100%;
    height: 540px;
}
.cp_a{
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 1px rgb(200,200,200);
    overflow: hidden;
}
.p_p{
    width: 100%;
    height: 180px;
    overflow: hidden;
}
.p_p img{
    width: 100%;
    height: 100%;
}
.t_a{
    width: 100%;
    height: 60px;
    padding-left: 20px;
    font-size: 1.2em;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.cp_fort{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 1px rgb( 200, 200, 200);
    overflow: hidden;
}
.p_fort{
    width: 100%;
    height: 240px;
    overflow: hidden;
}
.p_fort img{
    width: 100%;
    height: 100%;
}
.p_frioul{
    width: 100%;
    height: 140px;
    overflow: hidden;
}
.p_frioul img{
    width: 100%;
    height: 100%;
}
.cp_frioul{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 1px rgb(200,200,200);
    overflow: hidden;
}/*fin du bloc section activités*/
footer{
    width: 100%;
    height: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f2f2f2;
}
footer div{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    padding-left: 40px;
}
footer ul{
    list-style-type:none;
    padding-left: 0px;
}
footer h4{
    font-size: 1.2em;
    margin-bottom: 0px;
    margin-top: 20px;
}
.bv1{
    width:5%;
}
.bv2{
    width: 10%;
}
.bv3{
    width:20% ;
}
