.bloc_page{
    width: 100%;   
}
header{
    width: 99%;
    padding-left: 1%;
    
}
.top_header{/*logo et nav bloc 1*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_reservia{
    width: 200px;
    height: 90px;
    display: flex;
}
.top_nav ul{
    display: flex;
    list-style-type: none;
}
.top_nav li{
    text-align: center;
    width: 150px;
}
.top_nav a{
    font-size: 1.2em;
    text-decoration: none;
}
.h{
    color:#0065FC ;
}
.h:hover{
    text-decoration: overline;
}
.a{
    color: black;
}
.a:hover{
    text-decoration: overline;
}      
.i{
    color:#0065FC ;
    font-weight: bold;
}
.i:hover{
    text-decoration: overline;
}/*fin du bloc 1*/
.annonce{/*bloc 2 annonce*/
    width: 100%;
}
.annonce p{
    font-size: 1.1em;
    margin-top: 0px;
}
.annonce h1{
    font-size: 1.7em;
    margin-bottom: 0px;
}/*fin du bloc 2*/
.barre_de_recherche{/*bloc 3 barre de recherche*/
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.barre_de_recherche label{
    height: 100%;
    width: 50px;
}
.logo_pos{
    width: 50px;
    height: 100%;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
}
.formulaire{
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulaire input{
    height: 50px;
    width: 200px;
    border: 1px #f2f2f2 solid;
}
.formulaire input::placeholder{
    color: black;
    font-size: 1.3em;
    font-weight: bold;
    padding-left: 10px;
}
.b_recherche{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
}
.b_recherche a{
    text-decoration: none;
    color: white;
}
.b_recherche a:hover{
    color: black;
}/*fin du bloc 3*/

.filtres{/*bloc 4 les filtres*/
    width: 99%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content:start;
    align-items: center;
}
.fi{
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
}
.critères{
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center; 
    padding-left: 20px;
}
.critères a{
    text-decoration: none;
    color: black;
}
.critères a:hover{
    font-size: 1.2em;
}
#circle{
    height: 46px;
    width: 46px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    background-color: #DEEBFF;
    position: relative;
    right:5px;

    ;   
}
#circle i{
    color:#0065FC;
}
#crit p{
    font-weight: bold;
    padding-left: 10px;
    padding-right: 15px;
}

#f{/*contour global de chaques critères*/
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 3px #f2f2f2 solid;
    margin-left: 20px;
    border-radius: 25px 25px 25px 25px;
}/*fin du bloc 4*/
.info{/*bloc 5 info*/
    height: 40px;
    margin-top: 10px;
}
.info i{
    width: 30px;
    height: 30px;
    color:#0065FC ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #f2f2f2 solid;
    border-radius: 25px 25px 25px 25px;
    margin-right: 20px;
}
.info p{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    margin-top: 0px;
    margin-bottom: 0px;
}/*fin  du bloc 5*/