.bloc_page{
    width: 100%;   
}
header{
    width: 99%;
    padding-left: 1%;
    border: 1px blue solid;
}
.top_header{/*logo et nav bloc 1*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_reservia{
    width: 200px;
    height: 90px;
    display: flex;
}
.top_nav ul{
    display: flex;
    list-style-type: none;
}
.top_nav li{
    text-align: center;
    width: 150px;
}
.top_nav a{
    font-size: 1.2em;
    text-decoration: none;
}
.h{
    color:#0065FC ;
}
.h:hover{
    text-decoration: overline;
}
.a{
    color: black;
}
.a:hover{
    text-decoration: overline;
}      
.i{
    color:#0065FC ;
    font-weight: bold;
}
.i:hover{
    text-decoration: overline;
}/*fin du bloc 1*/
.annonce{/*bloc 2*/
    width: 100%;
}
.annonce p{
    font-size: 1.1em;
    margin-top: 0px;
}
.annonce h1{
    font-size: 1.7em;
    margin-bottom: 0px;
}/*fin du bloc 2*/
.barre_de_recherche{/*barre de recherche*/
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.barre_de_recherche label{
    height: 100%;
    width: 50px;
}
.logo_pos{
    width: 50px;
    height: 100%;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
}
.formulaire{
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulaire input{
    height: 50px;
    width: 200px;
    border: 1px #f2f2f2 solid;
}
.b_recherche{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
}
.b_recherche a{
    text-decoration: none;
    color: white;
}
.b_recherche a:hover{
    color: black;
}