/********************Général********************/

html{
    font-size: 62.5%;
}
body,header,section,footer,h1,h2,h3,h4,p,ul,li{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Raleway-ExtraBold";
    src: url("./Raleway-ExtraBold.ttf");
}
@font-face {
    font-family: "Raleway-Medium";
    src: url("./Raleway-Medium.ttf");
}
body{
    font-family: "Raleway-Medium",Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4rem;
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}
.nav-signup a,.quote1 h1,.search-bar input::placeholder,.filters h2,.all-filters,.popular-title,.popular-name,.lodging-title,.lodging-name,.more a,.activities-name,footer h2{
    font-family:"Raleway-ExtraBold","Raleway-Medium",Georgia, 'Times New Roman', Times, serif;
}
/********************Contenu principal********************/

.bloc-page{
    height: 100vh;
    display: grid;
    grid-template: repeat(3,auto) / 1fr;
}

/********************Header********************/
header{
    order: 0;
    display: grid;
    grid-gap: 10px;
    grid-template: 120px 1fr / 1fr;
}
header a{
    width: 100%;
    height: 100%;
}
/********************Navigation********************/

header nav{
    display: grid;
    grid-template: repeat(2,1fr) / repeat(2,1fr);
    order: 0;
}
.logo img{
    width: 60%;
    padding: 15px;
}
.nav-signup{
    padding: 15px;
}
.nav-signup a{
    justify-content: flex-end;
    color: #0065FC;
}
.nav-lodging,.nav-activities{
    border-bottom: 3px #f2f2f2 solid;
}
.nav-lodging a:hover,.nav-activities a:hover{
    color: #0065FC;
    border-bottom: 3px #0065FC solid;
}

/********************Quote1********************/

.criteria{
    display: grid;
    grid-template: repeat(4,auto) / 1fr;
    order: 1;
}
.quote1{
    order: 0;
    margin-bottom: 30px;
}
.quote1 h1,.quote1 p{
    padding: 10px 15px 0 15px;
}
.quote1 h1{
    font-size: 1.8rem;
}

/********************Search bar********************/

.container-search{
    order: 1;
}
.container-search,.search-bar,.map,.search{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar{
    width: 90%;
    border-radius: 13px;
    overflow: hidden;
    border: 2px #f2f2f2 solid;
}
.map{
    width: 15%;
    background-color: #f2f2f2;
}
.search{
    width: 15%;
    border-radius: 13px;
    color: white;
    background-color: #0065FC;
}
.search:hover{
    cursor: pointer;
}
.search-bar input{
    font-weight: bold;
    border: none;
    outline: none;
    padding: 10px;
    width: 70%;
}
.search-bar input::placeholder{
    color: black;
}

/********************Filters********************/
.filters{
    display: grid;
    order: 2;
    margin-top: 30px;
}
.filters h2{
    padding-left: 15px;
    font-size: 1.6rem;
}
.all-filters{
    padding: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.container-filters{
    height: 38px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #f2f2f2 solid;
    margin-top: 10px;
    margin: 10px 10px 0 0;
    cursor: pointer;
}
.container-filters:hover{
    transform: scale(1.1);
}
.icons-filters{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    color: #0065FC;
    margin-left: -3px;
}
.icons-filters i{
    font-size: 1.8rem;
}
.filter-title{
    margin: 0 10px 0 10px;
}

/********************Quote2********************/

.quote2{
    padding-left: 15px;
    display: flex;
    align-items: flex-start;
    order: 3;
    margin: 10px 0 30px 0;
}
.quote2 p {
    padding: 0 10px 0 10px;
}
.icon-info{
    height: 20px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    border: 2px #f2f2f2 solid;
    color: #0065FC;
}
.icon-info i {
    transform: scale(0.7);
}
/********************Section********************/

section{
    order: 1;
    display: grid;
    grid-template: repeat(3,auto) / 1fr;
    background-color: rgb(252, 195, 173);
}
.euro{
    font-weight: bold;
}

/********************Popular********************/

.popular{
    background-color: #f2f2f2;
    padding: 20px 15px;
    order: 0;
}
.popular-icon i{
    transform: scale(1.1);
}
.popular-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 25px 0;
    font-size: 1.8rem;
}
.popular-container{
    display: grid;
    grid-template: repeat(3,auto) / 1fr;
}
.popular-frame{
    overflow: hidden;
    margin-bottom: 10px;
    height: 120px;
    border: 4px white solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 1px #dadada;
}
.popular-link{
    width: 100%;
    height: 100%;
}
.popular-img{
    width:35%;
    height: 100%;
}
.popular-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.popular-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width:65%;
    height: 100%;
}
.popular-price{
    display: block;
    padding: 0 15px;
}
.popular-name{
    padding: 5px 15px;
    font-size: 1.4rem;
}
.grey-star{
    color: #d1d1d1;
}
.block-star{
    width: 100%;
}
.note{
    padding: 0 0 5px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.note span{
    margin-right: 2px;
    font-size: 1rem;
}
.blue-star{
    color: #0065FC;
}

/********************Lodging********************/
.lodging{
    background-color: white;
    padding: 20px 15px;
    order: 1;
}
.lodging-link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lodging-title{
    display: flex;
    align-items: center;
    padding: 10px 0 25px 0;
    font-size: 1.8rem;
}
.lodging-container{
    display: grid;
    grid-template: repeat(6,auto) / 1fr;
}
.lodging-frame{
    overflow: hidden;
    margin-bottom: 10px;
    height: 170px;
    border: 4px white solid;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px #dadada;
}
.lodging-img{
    width:100%;
    height: 60%;
}
.lodging-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.description-block{
    margin-top: 5px;
    width: 100%;
}
.lodging-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width:100%;
    height: 40%;
}
.lodging-price{
    display: block;
    padding: 0 15px;
}
.lodging-name{
    padding: 5px 15px;
    font-size: 1.4rem;
}
.more{
    margin: 15px 0;
    display: inline-block;
}
.more a{
    font-size: 1.6rem;
    font-weight: bold;
}

/********************Activities********************/

.activities{
    background-color: white;
    padding: 0 15px;
    order: 2;
}
.activities-link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.activities-title{
    display: flex;
    align-items: center;
    padding: 25px 0;
    font-size: 1.8rem;
}
.activities-container{
    display: grid;
    grid-template: repeat(6,auto) / 1fr;
}
.activities-frame{
    overflow: hidden;
    margin-bottom: 20px;
    height: 150px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 1px #dadada;
}
.activities-img{
    width:100%;
    height: 70%;
}
.activities-img img{
    width: 100%;
    height: 135%;
    object-fit: cover;
}
.activities-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width:100%;
    height: 30%;
}
.activities-name{
    padding: 5px 15px;
    font-size: 1.4rem;
}
/********************Footer********************/

footer{
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #f2f2f2;
    padding: 20px;
}
footer h2{
    margin-top: 20px;
    font-size: 1.6rem;
}
.list{
    margin: 10px 0;
    list-style-type: none;
}
.list li{
    margin: 10px 0;
}
.footer-link{
    display: inline-block;
    width: 100%;
}

/********************Média queries********************/

@media screen and (min-width:375px){/*medium mobile*/
    header{
        grid-template: 130px 1fr / 1fr;
    }
    .popular-frame{
        height: 140px;
    }
    .popular-img{
        width: 40%;
    }
    .popular-description{
        width: 60%;
    }
    .lodging-frame{
        height: 190px;
    }
    .activities-frame{
        height: 170px;
    }
}
@media screen and (min-width:425px){/*large mobile*/
    header{
        grid-template: 140px 1fr / 1fr;
    }
    .popular-frame{
        height: 170px;
    }
    .popular-img{
        width: 40%;
    }
    .popular-description{
        width: 60%;
    }
    .lodging-frame{
        height: 220px;
    }
    .activities-frame{
        height: 200px;
    }
}
@media screen and (min-width:768px){/*Tab*/
    header{
        grid-template: 180px 1fr / 1fr;
    }
    .logo img{
        width: 50%;
    }
    .search-bar{
        width: 60%;
    }
    .container-search{
        margin-left: 15px;
        justify-content: flex-start;
    }
    .popular{
        padding: 20px 65px;
    }
    .popular-frame{
        height: 200px;
    }
    .popular-img{
        width: 50%;
    }
    .popular-description{
        width: 50%;
    }
    .criteria{
        padding-left: 50px;
    }
    .lodging{
        padding: 20px 65px;
    }
    .activities{
        padding: 20px 65px;
    }
    .lodging-frame{
        height: 300px;
    }
    .lodging-img{
        height: 70%;
    }
    .lodging-description{
        height: 30%;
    }
    .activities-frame{
        height: 280px;
    }
    .activities-img{
        height: 80%;
    }
    .activities-description{
        height: 20%;
    }
    footer{
        padding: 20px 65px;
        flex-direction: row;
        justify-content: space-between;
    }
}