
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.bloc_page{
    width: 100%; 
}
body{
    width: 100%;
    font-family:"Raleway","Raleway Black",Arial,"Arial Black","Comic Sans MS","Courier New","Georgia","Impact","Times New Roman","Trebuchet MS","Verdana";
}


header{
    width: auto;
    padding: 0% 2% 0% 2%;
}

/*bloc 1 logo et nav */
.top_header{
    height: 100px;
    display: flex;
    align-items: center;
}
.top_header a{
    width: 100%;
    font-size: 1em;
    text-decoration: none;
}
.logo_reservia{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 2;
}
.logo_reservia img{
    width: 50%;
    
}
.nh{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1.3;

}
.na{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1.3;

}
.ni{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1.3;

}
.bloc_vide{
    height: 100%;
    flex: 5;

}
.h{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#0065FC ;
}
.h:hover{
    border-top: 5px#0065FC solid;
}
.a{
    height: 100%;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.a:hover{
    border-top: 5px black solid;

}      
.i{
    height: 100%;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#0065FC ;
    font-weight: bold;
}
.i:hover{
    border-top: 5px#0065FC solid;
}/*fin du bloc 1*/


/*bloc 2 annonce*/
.annonce{
    width: auto;
    height: auto;

}.annonce h1{
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.4em;

}
.annonce p{
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 20px;
}
/*fin du bloc 2*/


/*bloc 3 barre de recherche*/
.search{
    width: auto;
    height: 60px;
    display: flex;
    margin-bottom: 40px;
}
.barre_de_recherche{
    width: 31%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 17px 17px 17px 17px;
    overflow: hidden;
}
.barre_de_recherche label{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 17px 0px 0px 17px;
    border: 2px #f2f2f2 solid;
}
.logo_pos{
     font-size: 1.2em;
}
.formulaire{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulaire form{ 
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulaire input{
    font-size: 1.1em;
    height: 100%;
    width: 100%;
    border: 2px #f2f2f2 solid;
    border-left-color: transparent;
    border-right-color: transparent;
    font-weight: bold;

}
.formulaire input::placeholder{
    color: black;
    font-weight: bold;
    padding-left: 10px;
    font-size: 1.1em;
}
.b_recherche{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
    background-color: #0065FC;
    border-radius: 0 17px 17px 0;

}
.b_recherche a{
    text-decoration: none;
    color: white;
}
.b_recherche i{
    display: none;
}
.b_recherche a:hover{
    color: black;
}/*fin du bloc 3*/


/*bloc 4 les filtres*/
.filtres{
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
}
.fi{
    font-size: 1.2em;
    font-weight: bold;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-right: 20px;
}
.critères{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.critères a{
    height: 100%;
    width: auto;
    text-decoration: none;
    color: black;
}
.critères a:hover{
    font-size: 1.1em;
}
.circle{
    height: 64px;
    width: 64px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px 32px 32px 32px;
    background-color: #DEEBFF;
    position: relative;
    right: 3px;
    
}
.circle i{
    color:#0065FC;
}
.crit p{
    font-size: 1em;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 20px;
}
.f{/*contour global de chaques critères*/
    height: 100%;
    width: auto;
    display: flex;
    justify-content: start;
    margin-right: 10px;
    align-items: center;
    border: 2px #b8b6b6 solid;
    border-radius: 32px 32px 32px 32px;

}
/*fin du bloc 4*/


/*bloc 5 info*/
.info{
    height: 40px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.info i{
    width: 30px;
    height: 30px;
    font-size: 1em;
    color:#0065FC ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #f2f2f2 solid;
    border-radius: 15px 15px 15px 15px;
    margin-right: 10px;
}
.info p{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
/*fin  du bloc 5*/


/*section*/
.top_s{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 800px;
    padding: 0% 2% 0% 2%;
}

/*partie hébergements*/
.heb{
    width: 71%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 25px 25px 25px 25px;
    margin-right: 2%;
}
/*lieu d'hébergements*/
.t_heb{ 
    height: 12%;
    width: auto;
    display: flex;
    align-items: center;
    padding-left: 50px;
}
.t_heb h1{
    margin-top: 40px;
    font-size: 1.4em;
    font-weight: bold;
}
.sleep{
    width: auto;
    height: 74%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 50px;
}

.cadre_p1{
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 1px rgb(200,200,200);
    border: 5px white solid;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.photo_p1_large{
    height: 60%;
    width: 100%;
    overflow: hidden;
}
.photo_p1_large img{
    width: 100%;
    height: 100%;
}
.photo_p1_small{
    display: none;
}
.photo_p1_medium{
    display: none;
}
.note_p1{
    height: 40%;
    width: 100%;
    background-color: white;
    padding-left: 20px;
}
.note_p1 h2{
    font-size: 1em ;
    font-weight: bold;
    margin-top: 10px;
}
.note_p1 p{
    font-size: 0.9em;
    margin-top: 10px;
}
.etoiles_heb{
    display: flex;
    font-size: 0.8em;
    color: #f2f2f2;
    margin-top: 10px;
}
.etoiles_heb i{
    margin-right: 1px;
}
.b_star{
    color: #0065FC;
}

.ec{
    font-weight: bold;
}
.€{
    font-weight: bold;
    font-size: 1.2em;
}
.plus{
    height: 14%;
    display: flex;
    align-items: center;
    padding-left: 50px;
}
.plus h2{
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 20px;
}
.plus a{
    text-decoration: none;
    color: black;
}
.plus a:hover{
    text-decoration: underline;
}
/*fin bloc hébergements*/


/*bloc aside populaires*/
.populaires{/*titre*/
    width: 27%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 25px 25px 25px 25px;
    padding:0px 50px;
}
.top_aside{
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.t_pop h1{
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 40px;
    
}
.arrow{
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
    font-size: 1.4em;
}
.p_aside{/*photos aside*/
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.p_aside a{
    text-decoration:none;
    color: black;
}
.cadre_aside{
    height: 27%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 1px rgb(200,200,200);
    border: 5px white solid;
    overflow: hidden;
    margin-bottom: 40px;
}
.photo_aside_large{
    width: 40%;
    height: 100%;
    overflow: hidden;
    
}
.photo_aside_large img{
    height: 100%;
    width: 100%;
}
.photo_aside_small{
    display: none;
}
.photo_aside_medium{
    display: none;
}
.note_p2{
    height: 100%;
    width: 60%;
    background-color: white;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.note_p2 h2{
    width: 85%;
    font-weight: bold;
    font-size: 1em;
    margin-top: 20px;

}
.note_p2 p{
    font-size: 0.9em;
    margin-bottom: 50px;

}
.etoiles_aside{
    height: auto;
    width: auto;
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}
.note_p2 i{
    font-size: 0.8em;
    color: #f2f2f2;
}/*fin bloc aside populaire*/


.bot_section{/* bloc section activités*/
    width: auto;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 60px;

}
.t_bot_section{
    width: auto;
    height: 15%;
    display: flex;
    align-items: center;
}
.t_bot_section h1{
    font-size: 1.4em;
    font-weight: bold;
}
.photos_bs{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
}
.photos_bs a{
    text-decoration: none;
    color: black;
}
.c_a{
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 1px rgb(200,200,200);
    overflow: hidden;
}
.c_a2{
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.g_p_large{
    width: 100%;
    height: 90%;
    overflow: hidden;
}
.g_p_large img{
    width: 100%;
    height: 100%;
}
.g_p_small{
    display: none;
}
.g_p_medium{
    display: none;
}
.cp_a{
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 1px rgb(200,200,200);
    overflow: hidden;
}
.p_p_large{
    width: 100%;
    height: 180px;
    overflow: hidden;
}
.p_p_large img{
    width: 100%;
    height: 100%;
}
.p_p_small{
    display: none;
}
.p_p_medium{
    display: none;
}
.t_a{
    width: 100%;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.t_a h4{
    font-size: 1em;
    font-weight: bold;
    padding-left: 20px;
    
}
.cp_fort{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 1px rgb( 200, 200, 200);
    overflow: hidden;
}
.p_fort_large{
    width: 100%;
    height: 240px;
    overflow: hidden;
}
.p_fort_large img{
    width: 100%;
    height: 120%;
    position: relative;
    bottom: 40px;
   
}
.p_fort_small{
    display: none;
}
.p_fort_medium{
    display: none;
}
.p_frioul_large{
    width: 100%;
    height: 140px;
    overflow: hidden;
}
.p_frioul_large img{
    width: 100%;
    height: 120%;
    position: relative;
    bottom: 28px;
}
.p_frioul_small{
    display: none;
}
.p_frioul_medium{
    display: none;
}
.cp_frioul{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 1px rgb(200,200,200);
    overflow: hidden;
}/*fin du bloc section activités*/


footer{/*pied de page*/
    width: auto;
    height: auto;
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f2f2f2;
}
footer div{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}
footer ul{
    list-style-type:none;
    padding-left: 0px;
    margin-bottom: 30px;
}
footer h4{
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 0px;

}
footer li{
    margin-top: 20px;
    font-size: 1em;

}
.bv1{
    width:5%;
}
.bv2{
    width: 10%;
}
.bv3{
    width:20% ;
}
