body{
    color: rgb(0, 255, 34);
}


header{/*en-tête*/
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    border: 2px red solid ;
    flex-wrap: wrap;
}
.nh:nth-child(1){
    border: 2px black solid;
    order: 2;
    width: 50%;
}
.na:nth-child(2){
    border: 2px black solid;
    order: 3;
    width: 50%;
}
.ni:nth-child(3){
    display: block;
    border: 2px black solid;
    order: 1;
    align-self: ;
}
.top_header{/*logo et nav bloc 1*/
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 0px;
    flex-wrap: wrap;
}
.logo_reservia:nth-child(1){
    width: 100px;
    height: 90px;
    display: flex;
}

.filtres{/*bloc 4 les filtres*/
    width: 99%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content:start;
    align-items: center;
    flex-wrap: wrap;
}
.critères{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center; 
    padding-left: 20px;
    flex-wrap: wrap;
}


.annonce{/*bloc 2 annonce*/
    width: 98%;
    flex-wrap: wrap;
}


.top_s{/*section*/
    width: 100%;
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0px 0px 0px 0px;
}

.populaires{
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 0px;
    padding-left: 0px;
    padding-right:0px;
    padding-bottom: 60px;
}
.top_aside{/*bloc aside populaires*/
    height: auto;
    width: auto;
    margin: 100px 3% 50px 3%;
}
.t_pop h1{
    font-size: 3.6em;
    margin-top: 0px;
    margin-bottom: 0px;
}
.arrow{
    height: 60px;
    width: auto;
    margin-top:0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 3.6em;
}

.cadre_aside{
    height: 400px;
    width: 94%;
    margin-bottom: 3.5%; 
    border-radius: 60px 60px 60px 60px;
    border: 10px white solid;
}
.photo_aside{
    width: 40%;
    height: 100%;
    overflow: hidden;
}
.photo_aside img{
    height: 111%;
    width: 160%;
    position: relative;
    right: 100px;
    bottom: 20px;
}
.amina2 img{
    height: 150%;
    width: 100%;
    position: relative;
    right: 0px;
    bottom: 90px;
}
.note_p2{
    height: 100%;
    width: 60%;
    padding-left: 5%;
}

.note_p2 h2{
    width: 80%;
    font-size: 2.8em;
    margin-top: 25px;
    margin-bottom: 0px;
}
.note_p2 p{
    font-size: 2.4em;
    margin-top: 25px;
    margin-bottom: 0px;
}
.note_p2 i{
    font-size: 1.5em;
    color: #f2f2f2;
    margin-top: 140px;
}


.heb{/*partie hébergements*/
    width: 100%;
    height: auto;
    margin-right: 0px;
    background-color: white;
}
.t_heb{
    padding-left: 3%;
    padding-top: 100px;
    padding-bottom: 50px;
}
.t_heb h1{
    width: 100%;
    font-size: 3.6em;
    margin-top: 0px;
    margin-bottom: 0px;
}



.sleep{/*lieu d'hébergements*/
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 0px;
}
.cadre_p1{
    width: 94%;
    height: 500px;
    margin-bottom: 3.5%; 
    border: 10px white solid;
    border-radius: 60px 60px 60px 60px;
}
.note_p1{
    width: auto;
    padding-left: 35px;
}
.note_p1 h2{
    font-size: 2.8em;
    margin-top: 20px;
    margin-bottom: 0px;
}
.note_p1 p{
    font-size: 2.4em;
    margin-top: 15px;
    margin-bottom: 0px;
}
.note_p1 i{
    font-size: 2em;
    color: #f2f2f2;
    margin-top: 15px;
}
.amina img{
    width: 105%;
    height: 400%;
    position: relative;
    right: 20px;
    bottom: 440px;
}
.mer img{
    width: 103%;
    height: 280%;
    position: relative;
    right: 20px;
    bottom: 265px;
}
.photo_p1{
    height: 60%;
    width: 100%;
    overflow: hidden;
}
.photo_p1 img{
    width: 105%;
    height: 200%;
    position: relative;
    right: 30px;
    bottom: 150px;
}
.plus{
    height: auto;
    padding-left: 3%;
}
.plus h2{
    font-size: 2.4em;
}






.bot_section{/* bloc section activités*/
    width: 100%;
    height: auto;
    margin-left: 0px;
    padding-right: 0%;
   
}
#activités{
    font-size: 3.8em;
    padding-left: 3%;
}
.photos_bs{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.c_a{
    width: 94%;
    height: 500px;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    border-radius: 60px 60px 60px 60px;
}
.g_p{
height: 100%;
}
.g_p img{
    width: 100%;
    height: 150%;
    position: relative;
    left:0px;
}
.t_a{
    height: 150px;
    font-size: 2.8em;
    padding-left: 80px;
}
.c_a2{
    width: 100%;
    height: auto;
}
.p_p{
    height: 100%;
}
.p_p img{
    height: 170%;
    width: 100%;
    position: relative;
    bottom: 50px;
}
.p_fort{
   height: 100%;
}
.p_fort img{
    height: 350%;
    position: relative;
    bottom: 400px;
}
.p_frioul{
    height: 100%;
}
.p_frioul img{
    height: 150%;
    width: 100%;
}
#bot_r{
    width: 94%;
    height: 500px;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    border-radius: 60px 60px 60px 60px;
}


footer{/*Pied de page*/
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
footer div{
    width: auto;
    height: auto;
    font-size: 2.4em;
}
footer li{
    margin-bottom: 30px;
}
.bv1{
    display: none;
}
.bv2{
    display: none;
}
.bv3{
    display: none;
}
